@import 'tailwindcss';

body {
  font-family: var(--font-switzer), Arial, sans-serif;
  background-color: #ffffff;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-animate {
  animation: marquee 20s linear infinite;
}
